<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <title>profile</title>
</head>
<body>
    <nav class="navbar">
        <ul>  
            <li><a href="/admin">Home</a></li>    
             <!-- <li><a href="/adminProfile">Profile</a></li> -->
           
            <!-- <li><a href="/report">Report Graphicaly</a></li>
            <li><a href="/display_feedback2">Teacher tabular</a></li> -->
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="profile">
           <div class="image">
            <img src="{{ url_for('static', filename='images/cr.jpeg') }}" alt="Profile Image" width="250px">
           </div>
         <br><br>
           <div class="bio">
            <h1>Name :  </h1>  <hr>
            <h1>Username : {{existing_feedback[0][1]}}</h1>  <hr>  
            <h1>Email Id : {{existing_feedback[0][2]}}</h1>  <hr>
           </div>
    </div>
</body>
</html>