<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleUserDiss.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

</head>
<body>
    <nav class="navbar">
        <ul>
            <!-- <li><a href="/feedback_form">Home</a></li> -->
            <li><a href="/adminProfile">Profile</a></li>
            <li><a href="/report">Report Graphicaly</a></li>
            <li><a href="/display_feedback2">Teacher tabular</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

    </nav>
    <h1>Registered Users</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td data-label="ID">{{ user[0] }}</td>
                <td data-label="Username">{{ user[1] }}</td>
                <td data-label="Email">{{ user[2] }}</td>
                <td data-label="Password">{{ user[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
